.login-container {
    max-width: 450px;
    border-radius: 5px;
    box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.10), 0px 9px 46px 8px rgba(0, 0, 0, 0.06), 0px 24px 38px 3px rgba(0, 0, 0, 0.07);
}
.login-heading {
    color: #154061;
    font-size: 20px;
    min-width: 1px;
    word-wrap: break-word;
    font-weight: 600;
    line-height: 32px;
    margin:0px;
}
.register-color {
    color: #36bdbb;
}
.login-sub-heading {
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 21px;
    margin:0px;
}
.login-btn {
    color: #fff;
    background-color: #36bdbb;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #36bdbb;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .login-btn:hover {
        background-color: #2d9d9c;
    }