.register-row {
    border: 2px dotted #36bdbb;
    border-radius: 5px;
}

.lagend-register {
    font-size: 15px;
    font-weight: bold;
    margin-left: 7px;
    color: #2d9d9c;
}
.wid-auto{
    width:100%;
}
@media (min-width: 641px) {
    .wid-auto {
        width: 50%;
    }
}