@page "/schedulemeeting"
@attribute [Authorize]
<PageTitle> Create Meeting</PageTitle>


<div class="card ">
    <div class="card-header">


        <BreadCrumb>
            <BreadCrumbItem Icon="" Path="/" Text="Home" Index=1 Active=@false />
            <BreadCrumbItem Icon="" Path="/schedulemeeting" Text="Create meeting" Index=2 Active=@true />
        </BreadCrumb>


    </div>
    <div class="card-body mt-2">

    </div>
</div>

@code {

}
