.errorlayout {
    background: url('images/error-bg.jpg') no-repeat bottom -250px center #fff;
    position: fixed;
    top: 0%;
    left: 0%;
    width:100%;
    z-index: 111;
    height: 100%;
    color: #3e5569 !important;
    padding-top: 5% !important;
}
