<PageTitle>Error 403</PageTitle>

<h1 class="unauthorize-title">403</h1>
<h3 class="text-uppercase error-subtitle">FORBIDDEN ERROR!</h3>
<p class="text-muted mt-4 mb-4">
    YOU DON'T HAVE PERMISSION TO ACCESS ON THIS PAGE.
</p>
@code {

}
