@inherits LayoutComponentBase

<PageTitle>MeetingSchedulingApp</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
    <div class="@sidebarclass">
        <NavMenu SidebarClass="@ChangeSideBarClass" />
    </div>

    <main>
        <div class="top-row px-4">
                    <a href="/logout?returnUrl=/Registration" target="_blank">Register</a>
        </div>

        <article class="content px-4">
                    @Body
        </article>
    </main>
</div>
    </Authorized>
    <NotAuthorized>
        <div class="page-not-auth d-flex justify-content-center align-items-center">
            <main class="">
               @Body
           </main>
       </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    public string sidebarclass = "sidebar";
    public bool isfull = false;
    public void ChangeSideBarClass(bool value)
    {
        isfull = value;
        if (value)
        {
            sidebarclass = "sidebar";
        }
        else
        {
            sidebarclass = "sidebarfull";
        }
    }
}