@inherits LayoutComponentBase

<PageTitle>MeetingSchedulingApp</PageTitle>

<div class="page">
    <div class="@sidebarclass">
        <NavMenu SidebarClass="@ChangeSideBarClass" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    public string sidebarclass = "sidebar";
    public bool isfull = false;
    public void ChangeSideBarClass(bool value)
    {
        isfull = value;
        if (value)
        {
            sidebarclass = "sidebar";
        }
        else
        {
            sidebarclass = "sidebarfull";
        }
    }
}