
<div class="top-row navbar navbar-dark">
    <div class="container-fluid px-2">

        @if (collapseNavMenu)
        {
            <div class="w-100 d-flex justify-content-start align-items-center">
              <AuthorizeView>
                  <Authorized>
                        <div class="dropdown w-100">
                            <button class="btn w-100 d-flex justify-content-between align-items-center toggle-btn dropdown-toggle" data-bs-toggle="dropdown">
                                <div class="user-profile"><span class="user-profile-text">@(context.User.Identity.Name.FirstOrDefault())</span></div>
                                <div class="text-container"><div class="text-light text-start user-profile2 ellipsis">@(context.User.Identity.Name)</div><div class="text-secondary text-start ellipsis  user-profile2" style="font-size:11px !important">@(context.User.Claims.FirstOrDefault(s => s.Type == ClaimTypes.Email).Value)</div></div>
                                @*<div><span class="oi oi-caret-bottom text-light fw-light" style="font-size: 10px;"></span></div>*@
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-bolder" href="/myprofile"><span class="fa-solid fa-user me-2"></span>My Profile</a></li>
                                <li><a class="dropdown-item fw-bolder" href="/changepassword"><span class="fa-solid fa-lock me-2"></span>Change Password</a></li>
                                <li><a class="dropdown-item fw-bolder" href="/logout?returnUrl=/Accountlogin"><span class="fa-solid fa-right-from-bracket me-2"></span>Logout</a></li>
                            </ul>
                        </div>
                  </Authorized>
                  <NotAuthorized>
                        <a href="/accountlogin" class="btn w-100 d-flex justify-content-between align-items-center" data-bs-toggle="dropdown">
                            <div class="text-container"><div class="text-light text-start user-profile2 ellipsis">Login</div></div>
                        </a>
                  </NotAuthorized>
              </AuthorizeView>

                <button class="btn text-light toggle-btn" @onclick="ToggleNavMenu">
                    <span class="fa-solid fa-chevron-left"></span>
                </button>
            </div>

        }
        else
        {
            <div>
                <button class="btn toggle-color toggle-btn" @onclick="ToggleNavMenu">
                    <span class="fa-solid fa-bars"></span>
                </button>
            </div>
        }



    </div>
</div>

<div class="@NavMenuCssClass">
    @if (collapseNavMenu)
    {
        <nav class="flex-column nav-custom">
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="border-radius:10px !important" href="" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-home" style="width:2rem !important" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="border-radius:10px !important" href="mymeetings" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-handshake" style="width:2rem !important" aria-hidden="true"></span> My meetings
                </NavLink>
            </div>
             <div class="nav-item px-3">
            <NavLink class="nav-link" style="border-radius:10px !important" href="myinvitation">
                <span class="fa-solid fa-envelope-open-text" style="width:2rem !important" aria-hidden="true"></span> My invitation
            </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="border-radius:10px !important" href="schedulemeeting">
                    <span class="fa-solid fa-calendar-plus" style="width:2rem !important" aria-hidden="true"></span> Create meeting
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="border-radius:10px !important" href="invite">
                    <span class="fa-solid fa-paper-plane" style="width:2rem !important" aria-hidden="true"></span> Send invite
                </NavLink>
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="border-radius:10px !important" href="/logout?returnUrl=/Registration">
                    <span class="fa-solid fa-user-plus" style="width:2rem !important" aria-hidden="true"></span> Register
                </NavLink>
            </div>
        </nav>
        
    }
    else
    {
        <nav class="flex-column nav-custom">
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-home" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="mymeetings" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-handshake" aria-hidden="true"></span>
                </NavLink>

            </div>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="myinvitation" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-envelope-open-text" aria-hidden="true"></span>
                </NavLink>

            </div>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="schedulemeeting" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-calendar-plus" aria-hidden="true"></span>
                </NavLink>
            </div><div class="nav-item px-2">
                <NavLink class="nav-link" href="invite" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-paper-plane" aria-hidden="true"></span>
                </NavLink>
            </div>
        </nav>
        <nav>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="/logout?returnUrl=/Registration" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-user-plus" aria-hidden="true"></span>
                </NavLink>
            </div>
           
        </nav>
    }

</div>

@code {
    [Parameter]
    public EventCallback<bool> SidebarClass { get; set; }

    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? null : "collapse";

    private async Task ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

        await SidebarClass.InvokeAsync(!collapseNavMenu);

    }
}
