@page "/"
@attribute [AllowAnonymous]
@inject AuthenticationStateProvider asp;
<PageTitle>Dashboard</PageTitle>

<div class="card ">
    <div class="card-header">


        <BreadCrumb>
            <BreadCrumbItem Icon="" Path="/" Text="Home" Index=1 Active=@true />
        </BreadCrumb>


    </div>
    <div class="card-body mt-2">
        <h4 class="text-center">Dashboard coming soon...</h4>
    </div>
</div
@code{

    [Inject]
    private NavigationManager navigationManager { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var user = await asp.GetAuthenticationStateAsync();
        if (!user.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/Accountlogin");

        }
        

    }
}